* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #68e0cf 0%, #b8e1fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
    outline: 0;
}

.container {
    margin: 40px 10px;
    width: 400px;
    height: 600px;
    padding: 10px 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: "Montserrat";
    color: #000;
}

.container h2.title {
    font-size: 1.75rem;
    margin: 10px -5px;
    margin-bottom: 30px;
    color: #0a0e31;
}

.result {
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.result__info.right {
    right: 8px;
}

.result__info.left {
    left: 8px;
}

.result__info {
    position: absolute;
    bottom: 4px;
    color: #333 !important;
    font-size: 0.8rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    opacity: 0;
}

.result__viewbox {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 6px;
    color: #000;
    text-align: center;
    line-height: 65px;
}

#copy-btn {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    z-index: 2;
}

.result:hover #copy-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.35);
}

.field-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
}

.options {
    width: 100%;
    height: auto;
    margin: 50px 0;
}

.range__slider {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    border-radius: 6px;
    margin: 30px 0;
}

.range__slider::before,
.range__slider::after {
    position: absolute;
    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
}

.range__slider::before {
    content: attr(data-min);
    left: 10px;
}

.range__slider::after {
    content: attr(data-max);
    right: 10px;
}

.length__title::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums;
    color: #000;
}

#slider {
    -webkit-appearance: none;
    width: 90%;
    height: 4px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    margin: 0;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0B1EDF;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
    background: #4b6ef1;
    transform: scale(1.2);
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0B1EDF;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

#slider::-moz-range-thumb:hover {
    background: #4b6ef1;
}

.settings {
    position: relative;
    display: flex;
    flex-direction: column;
}

.setting {
    position: relative;
    background: #f5f5f5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #000;
    margin-bottom: 8px;
}

.setting input {
    opacity: 0;
    position: absolute;
}

.setting label {
    user-select: none;
    position: relative;
    padding-left: 35px;
}

.setting label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 18px;
    background: #ccc;
    border-radius: 30px;
    transition: background 0.2s;
}

.setting label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    transition: left 0.2s;
}

.setting input:checked + label::before {
    background: #0B1EDF;
}

.setting input:checked + label::after {
    left: 16px;
}

.btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 6px;
    color: #fff;
    border: none;
    background-image: linear-gradient(135deg, #0B1EDF 0%, #68e0cf 100%);
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn.generate:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
